meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="robots" content="noarchive")
title PON PON TIMER
meta(name="format-detection" content="email=no,telephone=no,address=no")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="description" content="交互に問題を出し合う時に使える、制限時間付きタイマー。ポンポン答えでアウトプットを鍛えよう！問題数は変更できます。")
//- meta(property="og:url" content="https://ymdma--portfolio.web.app/" )
meta(property="og:type" content="website" )
meta(property="og:title" content="PON PON TIMER" )
meta(property="og:description" content="ポンポン答える、ポンポンタイマー！" )
meta(property="og:site_name" content="wolf table" )
meta(property="og:image" content="./assets/images/ogp-thumb.png" )
link(rel="icon" href="./assets/images/favicon.ico")
link(rel="stylesheet", href="./assets/css/style.css")
script(src="./assets/js/script.js")